@model CompanyEmployees.Client.Models.ClienteViewModel
@{
    ViewData["Title"] = "Consultas Clientes";
}

<h3 class="h3">Consulta Cliente</h3>

<form asp-controller="cliente" asp-action="search">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>Search</label>
            <input type="number" class="form-control" name="codigoCliente">
        </div>
        <div class="form-group col-md-4">
            <br />
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </div>
    @if (ViewBag.clients != null)
    {
        <span class="alert alert-danger">@ViewBag.clients</span>
    }
    else
    {
        <div>
            <table class="table table-bordered table-sm">
                <thead>
                    <tr>
                        <th>Codigo</th>
                        <th>Nombres</th>
                        <th>Apellidos</th>
                        <th>Documento</th>
                        <th>Nùmero</th>
                        <th>Direcciòn</th>
                        <th>Telefonò</th>
                        <th>Email
                        <th>Detalle</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@Html.DisplayFor(modelItem => Model.codigoCliente)</td>
                        <td>@Html.DisplayFor(modelItem => Model.nombres)</td>
                        <td>@Html.DisplayFor(modelItem => Model.apellidos)</td>
                        <td>@Html.DisplayFor(modelItem => Model.documento)</td>
                        <td>@Html.DisplayFor(modelItem => Model.numero)</td>
                        <td>@Html.DisplayFor(modelItem => Model.direccion)</td>
                        <td>@Html.DisplayFor(modelItem => Model.telefono)</td>
                        <td>@Html.DisplayFor(modelItem => Model.email)</td>
                        <td>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    }
</form>